.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift_top {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.gift_body {
  width: 90px;
  height: 60px;
  background-color: #5c7e32;
}

.tie_top {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: red;
}

.tie_body {
  position: absolute;
  top: 25px;
  width: 90px;
  height: 15px;
  background-color: red;
}
